<div id="<%= dom_id manga %>">
  <p>
    <strong>Title:</strong>
    <%= manga.title %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= manga.genre %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= manga.description %>
  </p>

  <p>
    <strong>Volumes:</strong>
    <%= manga.volumes %>
  </p>

  <p>
    <strong>User:</strong>
    <%= manga.user_id %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= manga.image_url %>
  </p>

</div>
