<h1>New trade</h1>

<p>Selected items:</p>
<ul>
  <%= render @trade.trade_items %>
</ul>


<p>Sender: <%= @user.id %></p>
<ul>
  <% @user.mangas.each do |manga| %>
    <%= render "trades/manga_trade", manga: manga %>
  <% end %>
</ul>


<p>Recipient: <%= @recipient.id %></p>
<ul>
  <% @recipient.mangas.each do |manga| %>
    <%= render "trades/manga_trade", manga: manga %>
  <% end %>
</ul>
<div>
  <%= link_to "Back to trades", trades_path %>
</div>
